html {
  font-size: 16px;
  font-weight: 100;
}

* {
  font-family: 'Roboto', 'FreeSans', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import './LiveData/LiveData';